<h1>Yo!</h1>
  <p>Hello!</p>
  <p><%= date %></p>
  <p><%= 1 + 2 + 3 + 4 %></p>
  <% if 1 == 1 %>
    <h2>Równe!</h2>
  <% end %>
  <% [1,2,3,4].each do |element| %>
  <p><%= element %></p>
<% end %>
